{% extends 'base.html.twig' %}

{% block title %}Création administrateur - ResaTable{% endblock %}

{% block body %}

    <main class="form-signin w-100 m-auto"> 
    {{ form_start(form) }}
        <h1 class="mb-3">Création de l'administrateur</h1>
        <div class="form-floating mb-3">
            {{ form_widget(form.email) }}
            {{ form_label(form.email) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.password.first) }}
            {{ form_widget(form.password.first) }}
            {{ form_errors(form.password.first) }}
            <div class="form-text">
                Le mot de passe doit contenir au moins 12 caractères, dont 1 minuscule, 1 majuscule, 1 chiffre et 1 caractère spécial.
            </div>
        </div>

        <div class="mb-3">
            {{ form_label(form.password.second) }}
            {{ form_widget(form.password.second) }}
            {{ form_errors(form.password.second) }}
            {{ form_errors(form.password) }}
        </div>

        <button class="btn btn-primary">
            Création
        </button>
    {{ form_end(form) }}
    </main>
{% endblock %}
